<!-- HEADER -->
<header id="masthead" class="header" role="banner">
    <a class="menu-toggle toggle-link"></a>
    <h1 class="site-title mobile-title">JACK ALLEN</h1>

    <!-- header-wrap -->
    <div class="header-wrap">
        <img src="images/site/avatar.jpg" alt="avatar">
        <h1 class="site-title">JACK ALLEN</h1>

        <%- include(navType);%>

        <!-- SEARCH -->
        <div class="header-search">
            <form role="search" method="get" id="search-form" action="#">
                <input type="text" value="" name="s" id="search" placeholder="enter word">
                <input type="submit" id="search-submit" title="Search" value="→">
            </form>
        </div>
        <!-- SEARCH -->

        <!-- header-bottom -->
        <div class="header-bottom">

            <!-- SOCIAL -->
            <ul class="social">
                <li>
                    <a class="facebook" href="#"></a>
                </li>
                <li>
                    <a class="twitter" href="#"></a>
                </li>
                <li>
                    <a class="linkedin" href="#"></a>
                </li>
                <li>
                    <a class="instagram" href="#"></a>
                </li>
            </ul>
            <!-- SOCIAL -->

            <!-- copy-text -->
            <div class="copy-text">
                <p>&copy; 2015 Pixelwars</p>
            </div>
            <!-- copy-text -->

        </div>
        <!-- header-bottom -->

    </div>
    <!-- header-wrap -->

</header>
<!-- HEADER -->
