<!-- HEADER -->
<header id="masthead" class="header" role="banner">
    <a class="menu-toggle toggle-link"></a>
    <h1 class="site-title mobile-title">Allan Im</h1>

    <!-- header-wrap -->
    <div class="header-wrap">
        <img src="https://s.gravatar.com/avatar/4fd493d8608b0567e5cc97ee7a703b0a?s=160" alt="avatar">
        <h1 class="site-title">Allan Im</h1>

        <%- include(navType);%>

        <!-- SEARCH -->
        <div class="header-search">
            <form role="search" method="get" id="search-form" action="#">
                <input type="text" value="" name="s" id="search" placeholder="enter word">
                <input type="submit" id="search-submit" title="Search" value="→">
            </form>
        </div>
        <!-- SEARCH -->

        <!-- header-bottom -->
        <div class="header-bottom">

            <!-- SOCIAL -->
            <ul class="social">
                <li>
                    <a class="facebook" href="https://www.facebook.com/allan.syim"></a>
                </li>
                <li>
                    <a class="twitter" href="https://twitter.com/allanlogs"></a>
                </li>
                <li>
                    <a class="linkedin" href="https://www.linkedin.com/in/allanim"></a>
                </li>
                <li>
                    <a class="instagram" href="https://www.instagram.com/allan.im/"></a>
                </li>
            </ul>
            <!-- SOCIAL -->

            <!-- copy-text -->
            <div class="copy-text">
                <p>&copy; 2017 Allan Im</p>
            </div>
            <!-- copy-text -->

        </div>
        <!-- header-bottom -->

    </div>
    <!-- header-wrap -->

</header>
<!-- HEADER -->
