<!-- HEADER -->
<header id="masthead" class="header" role="banner">
    <a class="menu-toggle toggle-link"></a>
    <h1 class="site-title mobile-title" data-i18n="name">Allan Im</h1>
    <!-- Language -->
    <ul class="language mobile-language">
        <li lang="en" class="lang-button lang-en">
            en
        </li>
        <li lang="en" class="lang-button lang-ja">
            ja
        </li>
        <li lang="en" class="lang-button lang-ko">
            ko
        </li>
    </ul>

    <!-- header-wrap -->
    <div class="header-wrap">
        <img src="https://s.gravatar.com/avatar/4fd493d8608b0567e5cc97ee7a703b0a?s=160" alt="avatar">
        <h1 class="site-title" data-i18n="name"></h1>

        <%- include(navType); %>

        <!-- SEARCH -->
        <div class="header-search">
            <form role="search" method="get" id="search-form" action="#">
                <input type="text" value="" name="s" id="search" placeholder="enter word">
                <input type="submit" id="search-submit" title="Search" value="→">
            </form>
        </div>
        <!-- SEARCH -->

        <!-- header-bottom -->
        <div class="header-bottom">
            <!-- Language -->
            <ul class="language">
                <li lang="en" class="lang-button lang-en">
                    en
                </li>
                <li lang="en" class="lang-button lang-ja">
                    ja
                </li>
                <li lang="en" class="lang-button lang-ko">
                    ko
                </li>
            </ul>

            <!-- SOCIAL -->
            <ul class="social">
                <li>
                    <a class="facebook" href="http://fb.com/allan.syim" target="_blank"></a>
                </li>
                <li>
                    <a class="twitter" href="http://twitter.com/allanlogs" target="_blank"></a>
                </li>
                <li>
                    <a class="linkedin" href="http://linkedin.com/in/allanim" target="_blank"></a>
                </li>
                <li>
                    <a class="instagram" href="http://instagram.com/allan.im" target="_blank"></a>
                </li>
                <li>
                    <a class="github" href="http://github.com/allanim" target="_blank"></a>
                </li>
            </ul>
            <!-- SOCIAL -->

            <!-- copy-text -->
            <div class="copy-text" lang="en">
                <p>&copy; 2017 Allan Im</p>
            </div>
            <!-- copy-text -->

        </div>
        <!-- header-bottom -->

    </div>
    <!-- header-wrap -->

</header>
<!-- HEADER -->
