<!DOCTYPE html>
<html lang="en" class="no-js single-page-layout" data-mobile-classic-layout="true" data-classic-layout="false"
      data-prev-animation="16" data-next-animation="15" data-random-animation="false">

<%- include('_head'); %>

<body>

<!-- PAGE -->
<div id="page" class="hfeed site">

    <%- include('_header', {navType: '_nav-link'}); %>
    <%- include(content); %>

</div>
<!-- PAGE -->

<%- include('_script'); %>

</body>
</html>