<!-- NAV MENU -->
<nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
    <div class="nav-menu">
        <ul>
            <li><a href="#/home"><i class="pe-7s-home"></i>Home</a></li>
            <li><a href="#/about"><i class="pe-7s-user"></i>About Me</a></li>
            <li><a href="#/resume"><i class="pe-7s-id"></i>Resume</a></li>
            <li><a href="#/portfolio"><i class="pe-7s-glasses"></i>Portfolio</a></li>
            <li><a href="#/blog"><i class="pe-7s-notebook"></i>Blog</a></li>
            <li><a href="#/contact"><i class="pe-7s-call"></i>Contact</a></li>
        </ul>
    </div>
</nav>
<!-- NAV MENU -->
