<!-- NAV MENU -->
<nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
    <div class="nav-menu">
        <ul>
            <li><a href="/"><i class="pe-7s-home"></i><span data-i18n="nav.home"></span></a></li>
            <!--<li><a class="search-toggle"><i class="pe-7s-search"></i>Search</a></li>-->
        </ul>
    </div>
</nav>
<!-- NAV MENU -->

