<!-- PAGE : CONTACT -->
<section id="contact" class="pt-page page-layout contact light-text">
    <!-- .content -->
    <div class="content">
        <!-- .layout-medium -->
        <div class="layout-medium">


            <!-- page-title -->
            <h1 class="page-title" lang="en">
                <i class="pe-7s-call"></i>contact me
            </h1>
            <!-- page-title -->


            <!-- section-title -->
            <div class="section-title center">
                <h2>
                    <i data-i18n="contact.socialize">Let's Socialize</i>
                </h2>
            </div>
            <!-- section-title -->

            <!-- SOCIAL -->
            <ul class="social">
                <li><a class="facebook" href="http://fb.com/allan.syim" target="_blank"></a></li>
                <li><a class="twitter" href="http://twitter.com/allanlogs" target="_blank"></a></li>
                <li><a class="linkedin" href="http://linkedin.com/in/allanim" target="_blank"></a></li>
                <li><a class="instagram" href="http://instagram.com/allan.im" target="_blank"></a></li>
                <li><a class="github" href="http://github.com/allanim" target="_blank"></a></li>
            </ul>
            <!-- SOCIAL -->


            <!-- section-title -->
            <div class="section-title center">
                <h2>
                    <i data-i18n="contact.reach">Reach Me</i>
                </h2>
            </div>
            <!-- section-title -->


            <!-- row -->
            <div class="row">

                <!-- column 3/12 -->
                <div class="col-xs-6 col-sm-4">

                    <!-- fun-fact -->
                    <div class="fun-fact">
                        <i class="pe-7s-map-marker"></i>
                        <h4 lang="en">based in Toronto, Canada</h4>
                    </div>
                    <!-- fun-fact -->

                </div>
                <!-- column 3/12 -->

                <!-- column 3/12 -->
                <div class="col-xs-6 col-sm-4">

                    <!-- fun-fact -->
                    <div class="fun-fact">
                        <i class="pe-7s-mail"></i>
                        <h4 lang="en">info [at] allanim.com</h4>
                    </div>
                    <!-- fun-fact -->

                </div>
                <!-- column 3/12 -->

                <!-- column 3/12 -->
                <div class="col-xs-6 col-sm-4">

                    <!-- fun-fact -->
                    <div class="fun-fact">
                        <i class="pe-7s-chat"></i>
                        <h4 lang="en">messenger : <a href="http://m.me/allan.syim" target="_blank">m.me/allan.syim</a></h4>
                    </div>
                    <!-- fun-fact -->

                </div>
                <!-- column 3/12 -->

            </div>
            <!-- row -->


            <!-- section-title -->
            <div class="section-title center">
                <h2>
                    <i data-i18n="contact.sendmail">Drop Me A Line</i>
                </h2>
            </div>
            <!-- section-title -->


            <!-- .contact-form -->
            <div class="contact-form">

                <form id="contact-form" class="validate-form" method="post">

                    <!-- enter mail subject here -->
                    <input type="hidden" name="subject" id="subject" value="You have a new message from Photographer!">

                    <p>
                        <label for="name" data-i18n="contact.mail.name">NAME</label>
                        <input type="text" name="name" id="name" class="required">
                    </p>

                    <p>
                        <label for="email" data-i18n="contact.mail.email">EMAIL</label>
                        <input type="text" name="email" id="email" class="required email">
                    </p>

                    <p>
                        <label for="message" data-i18n="contact.mail.message">MESSAGE</label>
                        <textarea name="message" id="message" class="required"></textarea>
                    </p>

                    <p class="antispam">
                    <div class="g-recaptcha" data-sitekey="6LfCiygUAAAAAHsS4obcnoHqK0XaAN1cI-jso2FI"></div>
                    </p>

                    <p>
                        <br/><br/>
                        <br/><br/>
                        <button class="submit button" data-i18n="contact.mail.send">Send</button>
                    </p>

                </form>

            </div>
            <!-- .contact-form -->


            <!-- GOOGLE MAP -->
            <div class="map">
                <div data-latitude="43.7181557" data-longitude="-79.5181395" data-zoom="7"
                     data-marker-image="images/site/marker2.png" id="map-canvas" class="map-canvas"></div>
            </div>
            <!-- GOOGLE MAP -->


        </div>
        <!-- .layout-medium -->
    </div>
    <!-- .content -->
</section>
<!-- PAGE : CONTACT -->



            
