<!-- .site-main -->
<div id="main" class="site-main">
    <%- include('allan-home'); %>
    <%- include('allan-about'); %>
    <%- include('allan-resume'); %>
    <%- include('allan-contact'); %>
</div>
<!-- .site-main -->
            
            
