<!-- PAGE : ABOUT -->
<section id="about" class="pt-page page-layout">
    <!-- .content -->
    <div class="content">
        <!-- .layout-medium -->
        <div class="layout-medium">


            <!-- page-title -->
            <h1 class="page-title" lang="en">
                <i class="pe-7s-user"></i>about me
            </h1>
            <!-- page-title -->


            <!-- section-title -->
            <div class="section-title center">
                <h2>
                    <i data-i18n="about:me.title">hello!</i>
                </h2>
            </div>
            <!-- section-title -->

            <div class="testo">
                <img src="images/site/allan.jpg" alt="someone">
                <div data-i18n="[html]about:me.body"></div>
            </div>

            <!-- section-title -->
            <div class="section-title center">
                <h2>
                    <i data-i18n="about:work.title">work</i>
                </h2>
            </div>
            <!-- section-title -->

            <div class="testo">
                <div data-i18n="[html]about:work.body"></div>
            </div>


            <!-- row -->
            <div class="row">

                <!-- col -->
                <div class="col-xs-6 col-md-3">

                    <div class="client">
                        <img src="images/works/uzen.png" alt="uzen"/>
                    </div>

                </div>
                <!-- col -->

                <!-- col -->
                <div class="col-xs-6 col-md-3">

                    <div class="client">
                        <img src="images/works/commerce21.png" alt="commerce21"/>
                    </div>

                </div>
                <!-- col -->

            </div>
            <!-- row -->


            <!-- CLIENTS -->
            <!-- row -->
            <div class="row">

                <!-- col -->
                <div class="col-xs-4 col-md-2">

                    <!-- client -->
                    <div class="client">
                        <a href="#">
                            <img src="images/clients/client-01.png" alt="client">
                        </a>
                    </div>
                    <!-- client -->

                </div>
                <!-- col -->

                <!-- col -->
                <div class="col-xs-4 col-md-2">

                    <!-- client -->
                    <div class="client">
                        <a href="#">
                            <img src="images/clients/client-02.png" alt="client">
                        </a>
                    </div>
                    <!-- client -->

                </div>
                <!-- col -->

                <!-- col -->
                <div class="col-xs-4 col-md-2">

                    <!-- client -->
                    <div class="client">
                        <a href="#">
                            <img src="images/clients/client-03.png" alt="client">
                        </a>
                    </div>
                    <!-- client -->

                </div>
                <!-- col -->

                <!-- col -->
                <div class="col-xs-4 col-md-2">

                    <!-- client -->
                    <div class="client">
                        <a href="#">
                            <img src="images/clients/client-04.png" alt="client">
                        </a>
                    </div>
                    <!-- client -->

                </div>
                <!-- col -->

                <!-- col -->
                <div class="col-xs-4 col-md-2">

                    <!-- client -->
                    <div class="client">
                        <a href="#">
                            <img src="images/clients/client-05.png" alt="client">
                        </a>
                    </div>
                    <!-- client -->

                </div>
                <!-- col -->

                <!-- col -->
                <div class="col-xs-4 col-md-2">

                    <!-- client -->
                    <div class="client">
                        <a href="#">
                            <img src="images/clients/client-06.png" alt="client">
                        </a>
                    </div>
                    <!-- client -->

                </div>
                <!-- col -->

            </div>
            <!-- row -->
            <!-- CLIENTS -->


        </div>
        <!-- .layout-medium -->
    </div>
    <!-- .content -->
</section>
<!-- PAGE : ABOUT -->
    
    