<!-- PAGE : ABOUT -->
<section id="about" class="pt-page page-layout">
    <!-- .content -->
    <div class="content">
        <!-- .layout-medium -->
        <div class="layout-medium">


            <!-- page-title -->
            <h1 class="page-title" lang="en">
                <i class="pe-7s-user"></i>about me
            </h1>
            <!-- page-title -->


            <!-- section-title -->
            <div class="section-title center">
                <h2>
                    <i data-i18n="about:me.title">hello!</i>
                </h2>
            </div>
            <!-- section-title -->

            <div class="testo">
                <img src="images/site/allan2.jpg" alt="someone">
                <div data-i18n="[html]about:me.body"></div>
            </div>
            <div id="instagram"></div>


            <!-- section-title -->
            <div class="section-title center">
                <h2>
                    <i data-i18n="about:work.title">work</i>
                </h2>
            </div>
            <!-- section-title -->

            <div class="testo">
                <div data-i18n="[html]about:work.body"></div>
            </div>


            <!-- row -->
            <div class="row">

                <!-- col -->
                <a href="http://www.uzen.net/uzenhome/ja/html/" target="_blank">
                    <div class="client-table col-xs-12 col-md-6">

                        <div class="client client-bg1">
                            <img src="images/works/uzen.png"/>
                        </div>
                    </div>
                </a>
                <!-- col -->

                <!-- col -->
                <a href="http://www.commerce21.co.jp" target="_blank">
                    <div class="client-table col-xs-12 col-md-6">
                        <div class="client client-bg1">
                            <img src="images/works/commerce21.png"/>
                        </div>
                    </div>
                </a>
                <!-- col -->

            </div>
            <!-- row -->

            <!-- section-title -->
            <!--<div class="section-title center">-->
                <!--<h2>-->
                    <!--<i data-i18n="about.client">Client & Partner</i>-->
                <!--</h2>-->
            <!--</div>-->
            <!-- section-title -->
            <br/><br/>

            <!-- CLIENTS -->
            <div class="row">
                <a href="http://www.dot-st.com" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/adastria.png">
                        </div>
                    </div>
                </a>
                <a href="http://www.astyle.jp" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/ana.png">
                        </div>
                    </div>
                </a>
                <a href="http://www.angfa-store.jp" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/angfa.jpg">
                        </div>
                    </div>
                </a>
                <a href="http://www.anrealage.com" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/anrealage.png">
                        </div>
                    </div>
                </a>
                <a href="http://www.authorize.net" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/authorizenet.png">
                        </div>
                    </div>
                </a>
                <a href="http://www.coach.com/international-landing.html" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/coach.png">
                        </div>
                    </div>
                </a>
            </div>

            <div class="row">
                <a href="http://edwin-ec.jp" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/edwin.gif">
                        </div>
                    </div>
                </a>
                <a href="http://fo-online.jp" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/fo-international.png">
                        </div>
                    </div>
                </a>
                <a href="http://g1commerce.jp" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/g1commerce.jpg">
                        </div>
                    </div>
                </a>
                <a href="http://www.giants.jp" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/giants.png">
                        </div>
                    </div>
                </a>
                <a href="http://www.gmo-pg.com" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/gmopayment.png">
                        </div>
                    </div>
                </a>
                <a href="http://www.shop.jal.co.jp" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/jal.png">
                        </div>
                    </div>
                </a>
            </div>

            <div class="row">
                <a href="http://www.jimos.co.jp" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/jimos.png">
                        </div>
                    </div>
                </a>
                <a href="http://www.kenkoucorp.com" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/kenkou.png">
                        </div>
                    </div>
                </a>
                <a href="http://www.kitamura.jp" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/kitamura.jpg">
                        </div>
                    </div>
                </a>
                <a href="http://www.mizunoshop.net" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/mizuno.png">
                        </div>
                    </div>
                </a>
                <a href="http://www.payco.com" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/nhn-payco.png">
                        </div>
                    </div>
                </a>
                <a href="http://www.nhnent.com" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/nhne.gif">
                        </div>
                    </div>
                </a>
            </div>

            <div class="row">
                <a href="http://www.cr.mufg.jp" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/nicos.gif">
                        </div>
                    </div>
                </a>
                <a href="http://www.ntv.co.jp" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/ntv.png">
                        </div>
                    </div>
                </a>
                <a href="http://parco.jp" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/parco.png">
                        </div>
                    </div>
                </a>
                <a href="http://www.paypal.com" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/paypal.png">
                        </div>
                    </div>
                </a>
                <a href="http://www.pcdepot.co.jp" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/pcdepot.jpg">
                        </div>
                    </div>
                </a>
                <a href="http://e.right-on.co.jp" target="_blank">
                    <div class="client-table col-xs-4 col-md-2">
                        <div class="client client-bg2">
                            <img src="images/works/right-on.jpg">
                        </div>
                    </div>
                </a>
            </div>

            <div class="row">
                <a href="http://www.softbankhawks.co.jp" target="_blank">
                <div class="client-table col-xs-4 col-md-2">
                    <div class="client client-bg2">
                        <img src="images/works/softbank-hawks.png">
                    </div>
                </div>
                </a>
                <a href="http://www.sbpayment.jp" target="_blank">
                <div class="client-table col-xs-4 col-md-2">
                    <div class="client client-bg2">
                        <img src="images/works/softbank-payment.gif">
                    </div>
                </div>
                </a>
                <a href="http://hands.net" target="_blank">
                <div class="client-table col-xs-4 col-md-2">
                    <div class="client client-bg2">
                        <img src="images/works/tokyuhands.png">
                    </div>
                </div>
                </a>
                <a href="http://www.towel-museum.com" target="_blank">
                <div class="client-table col-xs-4 col-md-2">
                    <div class="client client-bg2">
                        <img src="images/works/towel-museum.png">
                    </div>
                </div>
                </a>
                <a href="http://www.toysrus.co.jp" target="_blank">
                <div class="client-table col-xs-4 col-md-2">
                    <div class="client client-bg2">
                        <img src="images/works/toysrus.png">
                    </div>
                </div>
                </a>
                <a href="http://www.veritrans.co.jp" target="_blank">
                <div class="client-table col-xs-4 col-md-2">
                    <div class="client client-bg2">
                        <img src="images/works/veritrans.jpg">
                    </div>
                </div>
                </a>
            </div>
            <!-- CLIENTS -->


        </div>
        <!-- .layout-medium -->
    </div>
    <!-- .content -->
</section>
<!-- PAGE : ABOUT -->
    
    