<!-- PAGE : RESUME -->
<section id="resume" class="pt-page page-layout">
    <!-- .content -->
    <div class="content">
        <!-- .layout-medium -->
        <div class="layout-medium">

            <!-- page-title -->
            <h1 class="page-title" lang="en">
                <i class="pe-7s-id"></i>resume
            </h1>
            <!-- page-title -->

            <!-- row -->
            <div class="row">

                <!-- col -->
                <div class="col-sm-7">

                    <div class="event">
                        <h2 data-i18n="resume.now">HIGHLIGHTS</h2>
                        <p>
                            <i class="pe-7s-way"></i>
                        </p>
                    </div>
                    <div class="event" data-i18n="[html]resume:present.body"></div>
                    <div class="event" data-i18n="[html]resume:career.body"></div>


                    <div class="event">
                        <h2 data-i18n="resume.work">WORK EXPERIENCE</h2>
                        <p>
                            <i class="pe-7s-ribbon"></i>
                        </p>
                    </div>

                    <div class="event" data-i18n="[html]resume:uzen-corp-contract.body"></div>
                    <div class="event" data-i18n="[html]resume:uzen-corp.body"></div>
                    <div class="event" data-i18n="[html]resume:commerce21-corp.body"></div>
                    <div class="event" data-i18n="[html]resume:epi-corp.body"></div>
                    <div class="event" data-i18n="[html]resume:vertizen-corp.body"></div>

                    <div class="event">
                        <h2 data-i18n="resume.education">EDUCATION</h2>
                        <p>
                            <i class="pe-7s-study"></i>
                            <!--<img src="images/site/icon-03.png" alt="image"/>-->
                        </p>
                    </div>

                    <div class="event" data-i18n="[html]resume:lambton-college.body"></div>
                    <div class="event" data-i18n="[html]resume:itmaster-certi.body"></div>
                    <div class="event" data-i18n="[html]resume:chonbuk-univ.body"></div>

                    <p>
                        <a href="http://linkedin.com/in/allanim" target="_blank" class="button center linkedInLang"><i class="pe-7s-link"></i><img src="images/logo_linkedin_93x21_v2.png"></a>
                        <a href="http://angel.co/allanim" target="_blank" class="button center"><i class="pe-7s-link"></i><img src="images/AngelList_Black_Logotype.png" style="height: 21px;"></a>
                    </p>
                    <!--<p>-->
                        <!--<a href="#" class="button center"><i class="pe-7s-download"></i>Download CV<br/>(English)</a>-->
                        <!--<a href="#" class="button center"><i class="pe-7s-download"></i>Download CV<br/>(Japanese)</a>-->
                        <!--<a href="#" class="button center"><i class="pe-7s-download"></i>Download CV<br/>(Korean)</a>-->
                    <!--</p>-->

                </div>
                <!-- col -->


                <!-- col -->
                <div class="col-sm-5">

                    <!-- section-title -->
                    <div class="section-title center">
                        <h2>
                            <i data-i18n="resume.lang.title">Languages</i>
                        </h2>
                    </div>
                    <!-- section-title -->

                    <div class="skill-unit">
                        <h4 data-i18n="resume.lang.en">English</h4>
                        <div class="bar" data-percent="40">
                            <div class="progress"><span data-i18n="resume.level.intermediate">Intermediate</span></div>
                        </div>
                    </div>

                    <div class="skill-unit">
                        <h4 data-i18n="resume.lang.ja">Japanese</h4>
                        <div class="bar" data-percent="90">
                            <div class="progress"><span data-i18n="resume.level.advanced">Advanced</span></div>
                        </div>
                    </div>

                    <div class="skill-unit">
                        <h4 data-i18n="resume.lang.ko">Korean</h4>
                        <div class="bar" data-percent="100">
                            <div class="progress"><span data-i18n="resume.level.native">Native</span></div>
                        </div>
                    </div>

                    <!-- section-title -->
                    <div class="section-title center">
                        <h2>
                            <i data-i18n="[html]resume.t-skills">TECHNICAL SKILLS</i>
                        </h2>
                    </div>
                    <!-- section-title -->

                    <div class="skill-unit expert">
                        <span>Java</span>
                        <span>SpringFramework</span>
                        <span>SpringBoot</span>
                        <span>JPA</span>
                        <span>Gradle</span>
                        <span>Groovy</span>
                        <span>Maven</span>
                        <span>TDD</span>
                        <span>JUnit</span>
                        <span>Jenkins</span>
                        <span>Git</span>
                        <span>GitHub</span>
                        <span>GitLab</span>
                        <span>SVN</span>
                        <span>Agile</span>
                        <span>Redmine</span>
                        <span>Trac</span>
                        <span>SonatypeNexus</span>
                        <span>JFrogArtifactory</span>
                        <span>eCommerce</span>
                        <span>PG</span>
                        <span>PayPal</span>
                        <span>SoftbankPayment</span>
                        <span>GMOPayment</span>
                        <span>VeritransPayment</span>
                        <span>AuthorizeNet</span>
                        <span>Oracle</span>
                        <span>PostgreSql</span>
                        <span>MySql</span>
                        <span>H2Database</span>
                        <span>ApacheHttp</span>
                        <span>Tomcat</span>
                    </div>

                    <!-- section-title -->
                    <div class="section-title center">
                        <h2>
                            <i data-i18n="[html]resume.k-skills">KNOWLEDGEABLE SKILLS</i>
                        </h2>
                    </div>
                    <!-- section-title -->

                    <div class="skill-unit intermediate">
                        <span>Elasticsearch</span>
                        <span>Redis</span>
                        <span>Vaadin</span>
                        <span>Docker</span>
                        <span>AWS</span>
                        <span>MicroService</span>
                        <span>Javascript</span>
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>JQuery</span>
                        <span>NodeJS</span>
                        <span>GulpJS</span>
                        <span>Bower</span>
                        <span>AngularJS</span>
                        <span>Windows10</span>
                        <span>MacOS</span>
                        <span>CentOS</span>
                        <span>Nginx</span>
                        <span>Jetty</span>
                    </div>

                    <!-- section-title -->
                    <div class="section-title center">
                        <h2>
                            <i data-i18n="resume.tools">Favorite tools</i>
                        </h2>
                    </div>
                    <!-- section-title -->

                    <div class="center">
                        <a frameborder="0" data-theme="light" data-stack-embed="true" data-layers="1,2,3,4" href="https://embed.stackshare.io/stacks/embed/7450bd38eb163de56ba4b7a1d7d828"/></a><script async src="https://cdn1.stackshare.io/javascripts/client-code.js" charset="utf-8"></script>
                    </div>


                    <!--&lt;!&ndash; section-title &ndash;&gt;-->
                    <!--<div class="section-title center">-->
                        <!--<h2>-->
                            <!--<i>TESTIMONIALS</i>-->
                        <!--</h2>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; section-title &ndash;&gt;-->


                    <!--&lt;!&ndash; Testimonial &ndash;&gt;-->
                    <!--<div class="testo">-->
                        <!--<img src="images/site/testo-01.jpg" alt="someone">-->
                        <!--<h4>Vincent Wood</h4>-->
                        <!--<h5>CEO / Gravity Inc.</h5>-->
                        <!--<p>He is a great and hardworking guy. I am so proud of i have him as my asistant. He helped me-->
                            <!--so much. Also i am so proud of i have him as my asistant. He helped me so much.</p>-->

                    <!--</div>-->
                    <!--&lt;!&ndash; Testimonial &ndash;&gt;-->

                    <!--&lt;!&ndash; Testimonial &ndash;&gt;-->
                    <!--<div class="testo">-->
                        <!--<img src="images/site/testo-02.jpg" alt="someone">-->
                        <!--<h4>Gary Morgan</h4>-->
                        <!--<h5>Chemist / Freelancer</h5>-->
                        <!--<p>He was a great co-worker and a friend. I would't be where i am without his support.</p>-->

                    <!--</div>-->
                    <!--&lt;!&ndash; Testimonial &ndash;&gt;-->

                    <!--&lt;!&ndash; Testimonial &ndash;&gt;-->
                    <!--<div class="testo">-->
                        <!--<img src="images/site/testo-03.jpg" alt="someone">-->

                        <!--<h4>Jason Wilson</h4>-->
                        <!--<h5>Lab Geek / Miami Metro</h5>-->
                        <!--<p>He is ok. I don't really know him. He looks nice.</p>-->

                    <!--</div>-->
                    <!--&lt;!&ndash; Testimonial &ndash;&gt;-->


                </div>
                <!-- col -->


            </div>
            <!-- row -->


        </div>
        <!-- .layout-medium -->
    </div>
    <!-- .content -->
</section>
<!-- PAGE : RESUME -->
    
