<!-- PAGE : HOME -->
<section id="home" class="pt-page page-layout light-text home-section has-bg-img"
         data-parallax-video="https://vimeo.com/67658001">
    <!-- .content -->
    <div class="content">
        <!-- .layout-medium -->
        <div class="layout-medium">

            <h4>Hi, I am</h4>
            <h2>Allan Im</h2>
            <h4>I am <strong id="typist-element"
                             data-typist="an engineer., an architect., an adventurer.">a developer.</strong></h4>

        </div>
        <!-- .layout-medium -->
    </div>
    <!-- .content -->
</section>
<!-- PAGE : HOME -->